<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
     <id>PROJECT-NAME</id>
     <username>maciejgawryla</username>
     <password>vivfj7iqcyaibhma6rgvjyo432udamjkky2ldjmbws67dmr7c2da</password>
</server>
  </servers>
</settings>
